extends ../node_modules/pug-bootstrap/_bootstrap
block body
    div.jumbotron.jumbotron-fluid
        div.container.text-center
            img.img-fluid.img-responsive(src='/img/logo.png')
            h1 A bot for exchanging images with tracking
