extends ../node_modules/pug-bootstrap/_bootstrap
block body
    div.col-md-6.col-md-offset-3
        div.jumbotron.jumbotron-fluid.text-center(style={"max-width": "800px"})
            div.container.text-center
                img.img-fluid.img-responsive.center-block(src='/img/logo.png')
                h2 Telegram bot for exchanging images with tracking
                div.panel.panel-default
                    div.panel-heading
                        h3 Where I can find it?
                    div.panel-body
                        p
                            a(href='https://t.me/PixChangeBot') @PixChangeBot
                div.panel.panel-default
                    div.panel-heading
                        h3 What this bot can do?
                    div.panel-body
                        p.
                            It can recieve images and turn it into magic links.
                            When link is clicked or webpage, containing this embedded image
                            is loaded, this bot immediately sends push notification.
                            You can turn on/off notifications for single image or
                            globally by sending "ON"/"OFF" command as reply to
                            origin image or without reply.
                            You can edit images by editing image in origin message.
                div.panel.panel-default
                    div.panel-heading
                        h3 How I can contact author of this bot?
                    div.panel-body
                        p
                            b Telegram:
                            a(href="https://t.me/ovoshi") @ovoshi
                        p
                            b VK:
                            a(href="https://vk.com/ovoshi") @ovoshi
