extends ../node_modules/pug-bootstrap/_bootstrap
block body
    div.jumbotron.jumbotron-fluid
        div.container.text-center
            img.img-fluid.img-responsive.center-block(src='/img/logo.png')
            h2 A bot for exchanging images with tracking
            div.panel.panel-default
                div.panel-heading
                    h3 Where I can find it?
                div.panel-body
                    a(href='https://t.me/PixChangeBot') @PixChangeBot
