extends ../node_modules/pug-bootstrap/_bootstrap
block body
    div.jumbotron-fluid
        div.container-fluid.text-center
            img.img-fluid(src='/img/logo.png')
            h1 A bot for exchanging images with tracking
