extends ../node_modules/pug-bootstrap/_bootstrap
block body
    div.d-flex.text-center
        div.jumbotron.jumbotron-fluid(style={"max-width": "800px"})
            div.container.text-center
                img.img-fluid.img-responsive.center-block(src='/img/logo.png')
                h2 Telegram bot for exchanging images with tracking
                div.panel.panel-default
                    div.panel-heading
                        h3 Where I can find it?
                    div.panel-body
                        a(href='https://t.me/PixChangeBot') @PixChangeBot
                div.panel.panel-default
                    div.panel-heading
                        h3 What this bot can do?
                    div.panel-body.
                        It can recieve images and turn it into magic links.
                        When link is clicked or webpage, containing this embedded image
                        is loaded, this bot immediately sends push notification.
                        You can turn on/off notifications for single image or
                        globally by sending "ON"/"OFF" command as reply to
                        origin image or without reply.
                        You can edit images by editing image in origin message.
                        
